<div class="container">
    <h2>Creando sala</h2>
<form class="w-50">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Número de sala</label>
      <input type="number" class="form-control" id="sala" name="sala" [(ngModel)]="sala.sala" required="" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Cantidad máxima</label>
      <input type="number" class="form-control" id="maximo" name="maximo" [(ngModel)]="sala.maximo">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Valor de la sala</label>
        <input type="number" class="form-control" id="Ventrada" name="Ventrada" [(ngModel)]="sala.Ventrada">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Fecha del sorteo</label>
        <input type="datetime-local" class="form-control" id="fecha_sorteo" name="fecha_sorteo" [(ngModel)]="sala.fecha_sorteo">
      </div>
    <button type="submit" (click)="onSave()" class="btn btn-primary">Crear Sala</button>
  </form>
</div>