
<div class="container">
  <h2>Salas disponibles</h2>
    
  
<div id="carouselExampleControls" class="carousel slide" >
  <div class="carousel-inner">
    <!--Comienzo-->
    <div *ngFor="let item of salas" class="carousel-item active" >
      <div class="card btn btn-primary" style="width: 18rem;">
        <div class="card-header">
          <a [routerLink]="['/salas/sala/',item.id]"><span>Sala</span>{{item.sala}} <i class="bi bi-eye-fill"></i></a>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span>Sorteo #</span>{{item.id}}</li>
          <li class="list-group-item"><span>Disponible:</span>{{item.disponible}}</li>
          <li class="list-group-item"><span>Participantes:</span>{{item.cantidad}}</li>
          <li class="list-group-item"> <span>Maximo:</span>{{item.maximo}}</li>
          <li class="list-group-item"><span>Comprar:</span><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>$</span>{{item.Ventrada}}</button></li>
          <li class="list-group-item"><a [routerLink]="['/salas/editar-sala/',item.id]" class="eliminar btn btn-success">Editar <i class="bi bi-pencil-square"></i></a> <span>----</span>  <button class="eliminar btn btn-danger" (click)="onDelete(item.id || 0)">Eliminar <i class="bi bi-x-square"></i></button></li>
          <li class="list-group-item"></li>
        </ul>
      </div> 
    </div>
    <!--fin-->

  </div>
  <button (click)="izquierda()" class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button (click)="derecha()" class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>