<div class="container">
    <h2>Editando la sala</h2>
<form class="w-50">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Número de sala</label>
      <input type="number" class="form-control" id="sala" name="sala" [(ngModel)]="sala.sala"  aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Cantidad máxima</label>
      <input type="number" class="form-control" id="maxima" name="maxima" [(ngModel)]="sala.maximo">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Valor de la sala</label>
        <input type="number" class="form-control" id="Ventrada" name="Ventrada" [(ngModel)]="sala.Ventrada">
      </div>
    <button type="submit" (click)="onUpdate()" class="btn btn-primary">Actualizar Sala</button>
  </form>
</div>

