<div class="registro">

    <form class="row g-0">
      <span class="titulo-registro">Registrate en Easy.com:</span>
      <div class="col-md-4">
      <label for="validationDefault04" class="form-label">Tipo ID</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value="">Choose...</option>
        <option>CC</option>
        <option>Pasaporte</option>
        <option>CC extranjera</option>
      </select>
    </div>
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label">Número de ID</label>
        <input type="number" class="form-control" id="validationDefault01" placeholder="Identificación" required>
      </div>
        <div class="col-md-8">
          <label for="validationDefault01" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="Escribe tu nombre" required>
        </div>
        <div class="col-md-8">
          <label for="validationDefaultUsername" class="form-label">Nombre de usuario</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
            <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Escribe un nombre de usuario" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
        <div class="col-md-8">
          <label for="validationDefault01" class="form-label">Email</label>
          <input type="email" class="form-control" id="validationDefault01" placeholder="Escribe tu correo" required>
        </div>
        <div class="col-md-8">
          <label for="validationDefault03" class="form-label">Número de celular</label>
          <input type="number" class="form-control" id="validationDefault03" placeholder="Escribe tu número celular" required>
        </div>
        <div class="col-md-8">
          <label for="validationDefault01" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="validationDefault01"placeholder="Escribe la contraseña" required>
        </div>
        <div class="col-md-8">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Aceptar terminos y condiciones
            </label>
          </div>
        </div>
        <div class="col-md-8">
          <button class="btn btn-primary" type="submit">Registrarme</button>
        </div>
      </form>
</div>
