<div class="container">
<h2>Listado de los ganadores de salas</h2>
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
               <th scope="col">#Sorteo</th>
               <th scope="col">Avatar</th>
               <th scope="col">Apodo</th>
               <th scope="col">fecha</th>
            </tr>
         </thead>
         <tbody class="table-group-divider">
            <tr>
                <td>1</td>
                <td><img src="assets/img1.jpg" alt=""></td>
                <td>Kevinsiinho</td>
                <td>2010-10-10</td>
            </tr>  
        </tbody>
    </table>    
</div>