<div class="info">
    <h1>Editar Perfil</h1>
    <div class="cuerpo">
        <div class="container">
            
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Tipo de cuenta</span>
                <input type="text" class="form-control"  value="Admin" disabled>
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Tipo de ID</span>
                <input type="text" class="form-control"  value="CC" disabled>
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Número de ID</span>
                <input type="number" class="form-control" disabled  value="1148954816">
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control"  value="Kevin Arley Andrades Mondragon">
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Usuario</span>
                <input type="text" class="form-control"  value="Kevinsiinho">
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="number" class="form-control"  value="3166654540">
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" class="form-control"  value="kevinsiinho@gamil.com">
            </div>
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">Subir foto</span>
                <input type="file" class="form-control"  >
            </div>
            <div class="input-group mb-3 w-50">
                <button class="editar btn btn-warning"><i class="bi bi-pencil"></i></button>
                <button class="eliminar btn btn-danger"><i class="bi bi-x-lg"></i></button>
            </div>
           
        </div>
    </div>
</div>
