<div class="container">
    <div class="info-sala">
      <div class="datos">
       <h2>Sala{{sala.sala}}</h2>
       <label>Número de participantes:</label><div>{{sala.cantidad}}</div>
       <label>Valor Entrada:</label><div><span>$</span>{{sala.Ventrada}}</div>
       <label>Valor a ganar actual:</label><div><span>$</span>{{sala.ganancia}}</div>
       <label>Sorteo número:</label><div>{{sala.id}}</div>
       <label>Fecha del sorteo :</label><div>{{sala.fecha_sorteo}}</div>
       <label>Tiempo para el sorteo:<span>: Dias: / Min: {{minutos}}/ Segs: {{segundos}}</span></label>
      </div>

<div class="participantes">        
  <div class="tiempo_sorteo">
    <span class="dia">
      <ul>
        <li class="tiempo">{{dia}}</li>
        <li class="texto">Dias</li>
      </ul>
    </span>
    <span class="horas">
      <ul>
        <li class="tiempo">{{hora}}</li>
        <li class="texto">Horas</li>
      </ul>
    </span>
    <span class="minutos">
      <ul>
        <li class="tiempo">{{minutos}}</li>
        <li class="texto">Minutos</li>
      </ul>
    </span>
    <span class="segundos">
      <ul>
        <li class="tiempo">{{segundos}}</li>
        <li class="texto">Segundos</li>
      </ul>
    </span>

  </div>      
    <h3>Listado de participantes</h3>
  
    <div id="carouselExampleControls" class="carousel slide" >
      <div class="carousel-inner">
        <!--Comienzo-->
        <div *ngFor="let item of sala.participantes" class="carousel-item active" >
           <div class="card">
            <img [src]="item.avatar" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">{{item.usuario}}</h5>
            </div>
          </div> 
        </div>
        <!--fin-->
    
      </div>
      <button (click)="izquierda()" class="carousel-control-prev btns" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button (click)="derecha()" class="carousel-control-next btns" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
  </div>
 
</div> 

</div>


