<div class="container">
    <div class="info-sala">
      <div class="datos">
       <h2>Sala1</h2>
       <label>Número de participantes:</label><div>20</div>
       <label>Valor Entrada:</label><div><span>$</span>10000</div>
       <label>Valor a ganar actual:</label><div><span>$</span>10000</div>
       <label>Fecha de sorteo:</label><div>1111-11-11</div>
       <label>Tiempo para el sorteo:</label><div>2:00</div>
      </div>
  <div class="tabla">    
    <table class="table table-striped">
         <tbody class="">
            <tr>
                <td>
                    <div class="card">
                    <img src="assets/img1.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title">Kevinsiinho</h5>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card">
                    <img src="assets/img2.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title">arley</h5>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card">
                    <img src="assets/img1.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title">siinho</h5>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card">
                    <img src="assets/img3.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title">ssafsa</h5>
                    </div>
                  </div>
                </td>
                <td>
                    <div class="card">
                    <img src="assets/img1.jpg" class="card-img-top" alt="...">
                     <div class="card-body">
                      <h5 class="card-title">andra</h5>
                    </div>
                  </div>
                </td>

            </tr>
            <tr>
              <td>
                  <div class="card">
                  <img src="assets/img1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">Kevinsiinho</h5>
                  </div>
                </div>
              </td>
              <td>
                  <div class="card">
                  <img src="assets/img2.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">arley</h5>
                  </div>
                </div>
              </td>
              <td>
                  <div class="card">
                  <img src="assets/img1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">siinho</h5>
                  </div>
                </div>
              </td>
              <td>
                  <div class="card">
                  <img src="assets/img3.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">ssafsa</h5>
                  </div>
                </div>
              </td>
              <td>
                  <div class="card">
                  <img src="assets/img1.jpg" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">andra</h5>
                  </div>
                </div>
              </td>

          </tr>
          <tr>
            <td>
                <div class="card">
                <img src="assets/img1.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                  <h5 class="card-title">Kevinsiinho</h5>
                </div>
              </div>
            </td>
            <td>
                <div class="card">
                <img src="assets/img2.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                  <h5 class="card-title">arley</h5>
                </div>
              </div>
            </td>
            <td>
                <div class="card">
                <img src="assets/img1.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                  <h5 class="card-title">siinho</h5>
                </div>
              </div>
            </td>
            <td>
                <div class="card">
                <img src="assets/img3.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                  <h5 class="card-title">ssafsa</h5>
                </div>
              </div>
            </td>
            <td>
                <div class="card">
                <img src="assets/img1.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                  <h5 class="card-title">andra</h5>
                </div>
              </div>
            </td>

        </tr>
        <tr>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">Kevinsiinho</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img2.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">arley</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">siinho</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img3.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">ssafsa</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">andra</h5>
              </div>
            </div>
          </td>

      </tr> 
        
      <tr>
        <td>
            <div class="card">
            <img src="assets/img1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Kevinsiinho</h5>
            </div>
          </div>
        </td>
        <td>
            <div class="card">
            <img src="assets/img2.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">arley</h5>
            </div>
          </div>
        </td>
        <td>
            <div class="card">
            <img src="assets/img1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">siinho</h5>
            </div>
          </div>
        </td>
        <td>
            <div class="card">
            <img src="assets/img3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">ssafsa</h5>
            </div>
          </div>
        </td>
        <td>
            <div class="card">
            <img src="assets/img1.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">andra7</h5>
            </div>
          </div>
        </td>

    </tr> 
        <tr>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">Kevinsiinho</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img2.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">arley</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">siinho</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img3.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">ssafsa</h5>
              </div>
            </div>
          </td>
          <td>
              <div class="card">
              <img src="assets/img1.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">andra5</h5>
              </div>
            </div>
          </td>

      </tr> 
        </tbody>
    </table>
  </div>
 </div> 

</div>


