.container
    height: 450px
    margin-top: 10px 
    table
        width: 100%
        background: #298cf0bb
        border-radius: 12px 12px 12px 12px
        border: solid 3px black
        
        td 
            height: 80px
            padding: 3px
            
            .card
                width: 100%
                height: 100%
                margin: auto
                .card-body
                    height:30%
                    padding: 0        
                    h5
                        font-size: 18px
                        margin: auto  
                
                img
                    width: 100%
                    height: 100%
    .info-sala
        height: 100%
        margin-left: -50px
        .datos
            margin-top: 80px
            background: #3d3f4078
            width: 20%
            border-radius: 12px 12px 12px 12px
            padding: 10px
            color: black
            label
                font-weight: bold
             
.tabla
    margin-left: 280px
    margin-top: -380px
    max-height: 100%
    overflow-y: scroll               
