<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand">Easy.com</a>
      <form class="d-flex" >
        <input class="form-control me-4" type="number" placeholder="Ingresa tu documetno" name="id" [(ngModel)]="user.id" required>
        <input class="form-control me-4" type="password" placeholder="Ingresa la contraseña" name="password" [(ngModel)]="user.password">
        <button class="btn btn-light"  (click)="onIngresar()"  type="button">Ingresar</button>
      </form>
    </div>
  </nav>