<div class="container">
<h2>Mis apuestas ganadas</h2>
    <table class="table table-dark table-striped">
        <thead class="table-second">
            <tr>
               <th scope="col">#</th>
               <th scope="col">Sorteo</th>
               <th scope="col">Fecha</th>
               <th scope="col">Valor entrada</th>
               <th scope="col">Valor ganado</th>
               <th scope="col"># de participantes</th>
            </tr>
         </thead>
         <tbody class="table-group-divider">
            <tr>
                <td>1</td>
                <td>1</td>
                <td>111-11-11</td>
                <td><span>$</span>1000</td>
                <td><span>$</span>10000</td>
                <td>20</td>
            </tr>  
        </tbody>
    </table>    
</div>
